{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "shared-node-browser": true
  },
  "globals": {
    "global": true
  },
  "settings": {
    "react": {
      "version": "15.0"
    }
  },
  "overrides": [
    {
      "files": ["**/*.fixture.js", "**/__fixtures__/**", "tools/**"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": [
        ".babelrc.js",
        "cosmos.config.js",
        "rn-cli.config.js",
        "tools/**",
        "App.js"
      ],
      "env": {
        "node": true
      }
    }
  ]
}
